{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- columna izquierda -->
        <h1>Materia</h1>
        <div class="card"> <!-- la tarjeta -->
            <div class="card-body">
                <form action="registrarMateria/" method="post"> {% csrf_token %}<!-- Corrige el método y el action NO  OLVIDES ESTA LINEA SI NO NO JALA -->
                    
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                        placeholder="Codigo materia" minlength="1" maxlength="6" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtmateria" name="txtmateria" class="form-control"
                        placeholder="Nombre materia" maxlength="100" required>
                    </div>
                    <div class="form-group py-1.5">
                        <input type="number" id="numcreditos" name="numcreditos" class="form-control"
                        min="1" max="9" value="1" required>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar Materia</button>
                    </div>
                </form>
            </div>
        </div><!-- la tarjeta -->
    </div><!-- columna izquierda -->

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- columna derecha -->
        <h1>Listado de Materias</h1>
        <!-- tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Créditos</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in MisMaterias %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ m.codigo }}</td>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.creditos }}</td>
                    <td><a href="seleccionarMateria/{{m.codigo}}" class="btn btn-info">Editar</a></td><!--falta todavia-->
                    <td><a href="borrarMateria/{{m.codigo}}" class="btn btn-danger">Borrar</a></td><!--falta todavia-->
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div><!-- columna derecha -->
</div><!-- la fila -->
{% endblock %}
